body{
    margin: 0;
    font-family:"Kumbh Sans", Arial, Helvetica, sans-serif ;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.contenitore{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    background-color: #eeeeee;
    position: fixed;
    width: 100%;
    align-items: center;
}

header p{
    font-family: "Pacifico";
    padding-left: 18px;
    font-size: 24px;
}

header nav ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding-right: 16px;
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.intro{
    padding: 144px 24px;
    background-image: url(../webesame/fotoprogettoweb/testatainkworld.png);
    background-size: cover;
    background-position: center;
}


.contenitoretitolohome h1{
    color: white;
    font-size: clamp(2rem,5vw,30rem);
    font-family: "Kumbh Sans" ;
    max-width: 1200px;
    margin: auto;
}

.contenitoretitolo h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    font-family: "Kumbh Sans" ;
    max-width: 1200px;
    margin: auto;
}

.contenitore{
    display: flex;
    flex-direction: row;
    padding: 48px 16px;
}

.contenitore div.ink{
    width: 30%;
}

.contenitore div.ink p{
    font-weight: bold;
    font-size: 24px;
    font-family: "Kumbh Sans";
}

.contenitore div.info{
    width: 70%;
}

.contenitore div.info p{
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: "Kumbh Sans";
}

.tatuatori{
    width: 30%;
    margin-top: 40px;
}

.tatuatori p{
    font-weight: bold;
    font-size: 24px;
    color: #ff3d00;
    display: flex;
}

.tatuatori a{
    color: #ff3d00;
    text-decoration: none;
}

.tatuatori a:hover{
    text-decoration: underline;
}

.stili{
    width: 30%;
    margin-top: 40px;
}

.stili a{
    color: #1ea5bc;
    text-decoration: none;
}

.stili p{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    color: #1ea5bc;
}

.stili a:hover{
    text-decoration: underline;
}

.elenco-tatuatori{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
    gap: 32px;
    margin-bottom: 16px;
    width: 70%;
    padding-top: 48px 16px;   
}

.colore-1 {
    background-color: #ff3d00;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 275px;
    box-sizing: border-box;
    transition: 0.4s;
}

.colore-1:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.elenco-tatuatori img{
    height: 250px;
    width: 275px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px 50px 0px 0px;
}

.elenco-tatuatori p{
    text-align: center;
    padding: 32px 16px;
    font-size: 24px;
}

.elenco-tatuatori a{
    text-decoration: none;
    color: black;
}

.elenco-tatuatori a:hover{
    text-decoration: underline;
}

.colore-2 {
    background-color: #1ea5bc;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 275px;
    box-sizing: border-box;
    transition: 0.4s;
}

.colore-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}


.colore-3 {
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 275px;
    box-sizing: border-box;
    transition: 0.4s;
}

.colore-3:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.tatuatori{
    width: 30%;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 48px 32px;
    background-color: #eeeeee;
}

footer nav ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

footer a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover{
    text-decoration: underline;
}

.introtattoo{
    background-image: url(../webesame/fotoprogettoweb/testatainkworld.png);
    padding: 96px 24px;
    background-size: cover;
    background-position: center;
}

.introtattoo h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "kumbh sans";
    padding: 48px 16px;
}

.info-inktatuatori{
    display: flex;
    flex-direction: row;
    padding: 48px 16px;
}

.ink-tattoo{
    width: 30%;
}

.ink-tattoo p{
    font-weight: bold;
    font-size: 24px;
    color: #ff3d00;
    line-height: 1.5;
}

.info-inktatuatori div.info{
    width: 70%;
}

.info-inktatuatori div.info p{
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.photogallery{
    width: 30%;

}

.photogallery a{
    color: #ff3d00;
    text-decoration: none;
    display: flex;
    padding: 48px 16px;
}

.photogallery p{
    font-weight: bold;
    font-size: 24px;
}

.photogallery a:hover{
    text-decoration: underline;
}

div.ink-stili {
    width: 30%;
}

div.ink-stili p{
    color: #1ea5bc;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

.introbob{
    background-image: url(../webesame/fotoprogettoweb/copbob.png);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introbob h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}


.elenco-photogallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
    gap: 32px;
    margin-bottom: 16px;
    width: 70%;
}

.elenco-photogallery img{
    height: 250px;
    width: 275px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px 50px 50px 50px;
    width: 100%;
}

.introgargiulo{
    background-image: url(../webesame/fotoprogettoweb/copfabio.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introgargiulo h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introtoy{
    background-image: url(../webesame/fotoprogettoweb/copamanda.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introtoy h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introbrocca{
    background-image: url(../webesame/fotoprogettoweb/copbrocca.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introbrocca h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introrossini{
    background-image: url(../webesame/fotoprogettoweb/copelisa.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introrossini h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.intromarchini{
    background-image: url(../webesame/fotoprogettoweb/copluigi.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.intromarchini h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introsnt{
    background-image: url(../webesame/fotoprogettoweb/copsimone.jpg);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introsnt h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introchiesa{
    background-image: url(../webesame/fotoprogettoweb/copbrando.png);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introchiesa h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introgaldo{
    background-image: url(../webesame/fotoprogettoweb/copmarco.png);
    padding: 160px 24px;
    background-size: cover;
    background-position: top;
}

.introgaldo h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.black{
    background-color: black;
}

.black div.info{
    color: white;
}

.black div.stili{
    color: #1ea5bc;
}

.black {
    background-color: black;
}

.black header p{
    color: white;
}

.black header nav ul a {
    color: white;
}

.black header p a{
    color: white;
}

.black footer p a {
    color: white;
}

.black footer nav ul a {
    color: white;
}

.ink-tattoo p{
    color: #ff3d00;
}

.introstoria{
    background-image: url(../webesame/fotoprogettoweb/testatainkworld.png);
    padding: 144px 24px;
    background-size: cover;
    background-position: top;
}

.introstoria h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    font-family: "Kumbh Sans";
    max-width: 1200px;
    margin: auto;
}

.info-inkbob div.ink-storia p{
    color: #ff5dbe;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

.ink-storia{
    width: 30%;
}

.photogallerystoria{
    width: 30%;
}


.photogallerystoria p{
    color: #ff5dbe;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    padding: 48px 16px;
}

.introrealistico{
    background-image: url(../webesame/fotoprogettoweb/realistico.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introrealistico h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.photogallerystili{
    width: 30%;
}


.photogallerystili p{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    padding: 48px 16px;
    color: #1ea5bc
}

.introgiapponese{
    background-image: url(../webesame/fotoprogettoweb/giapponese.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introgiapponese h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introoldschool{
    background-image: url(../webesame/fotoprogettoweb/oldschool.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introoldschool h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.intronewschool{
    background-image: url(../webesame/fotoprogettoweb/newschool.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.intronewschool h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introfineline{
    background-image: url(../webesame/fotoprogettoweb/fineline.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introfineline h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introtribale{
    background-image: url(../webesame/fotoprogettoweb/tribale.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introtribale h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.introlettering{
    background-image: url(../webesame/fotoprogettoweb/lettering.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introlettering h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.intropastelgore{
    background-image: url(../webesame/fotoprogettoweb/pastelgore.jpg);
    padding: 146px 24px;
    background-size: cover;
    background-position: center;
}


.introdotwork{
    background-image: url(../webesame/fotoprogettoweb/dotwork.jpeg);
    padding: 160px 24px;
    background-size: cover;
    background-position: center;
}

.introdotwork h1{
    color: white;
    font-size: clamp(5rem,10vw,30rem);
    text-align: left;
    font-family: "Kumbh Sans";
}

.grigio{
    background-color: #f0f0f0;
}

.photogallery-tattoo{
    width: 30%;
}

.photogallery-tattoo p{
    color: #ff3d00;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    padding: 48px 16px
}

.raggruppare{
    display: flex;
    flex-direction: row;
    padding: 48px 16px;
    margin: 0 auto;
    max-width: 1200px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 8);
}

.modal:target {
    display: block;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.close:hover {
    color: #ccc;
}

@media screen and (max-width:600px) {
    
    .contenitore h1{
        font-size: 64px;
    }

    .contenitoretitolo h1{
        font-size: 32px;
    }

    .elenco-tatuatori{
        grid-template-columns: 1fr;
        width: 90%;
        
    }

    .contenitore{
        flex-direction: column;
        width: 90%;
        gap: 32px;
        margin-left: 8px;
    }

    .contenitore div.ink p{
        font-size: 21px;
    }

    .contenitore div.info p{
        font-size: 18px;
    }

    .raggruppare{
        flex-direction: column;
        width: 90%;
        gap: 8px;
    }

    .introbob h1{
        font-size: 64px;
    }

    .introbob{
        background-position: 550px;
    }

    .info-inkbob.info {
        width: 90%;
    }

    .introgargiulo h1{
        font-size: 64px;
    }

    .introgargiulo{
        background-position: 600px;
    }

    .introbrocca h1{
        font-size: 64px;
    }

    .introbrocca{
        background-position: 550px;
    }

    .introrossini{
        background-position: 550px;
    }

    .intromarchini{
        background-position: 550px;
    }

    .introsnt{
        background-position: 500px;
    }

    .introchiesa h1{
        font-size: 64px;
    }

    .introchiesa{
        background-position: 500px;
    }

    .introgaldo h1{
        font-size: 64px;
    }

    .introgaldo{
        background-position: 550px;
    }

    .introtoy h1{
        font-size: 64px
    }

    .introtoy{
        background-position: 550px;
    }

    .contenitoretitolo h1{
        font-size: 64px;
    }

    .elenco-photogallery{
        grid-template-columns: 1fr;
    }

    .info-inktatuatori div.info{
        width: 100%;
    }

    .contenitore div.info{
        width: 100%;
    }

    footer a{
        font-size: 0.8rem;
    }

 
}